# --- Java / Maven ---
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/
mvnw
mvnw.cmd

# --- Angular / Node ---
node_modules/
dist/
.angular/
.cache/
.npm/

# --- IDEs (VS Code / IntelliJ) ---
.idea/
.vscode/
*.swp
*.swo

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# --- Otros ---
.env